.top-nav-bar {
  display: flex;
  height: 56px;
  color: #606060;
  align-items: center;
  padding: 0 16px;

  .left-nav {
    display: flex;

    .bars {
      width: 40px;
      height: 40px;
      padding: 8px;
      margin-right: 16px;
      text-align: center;

      svg {
        font-size: 20px;
      }
    }

    .logo {

      &:hover {
        text-decoration: none;
      }

      span {
        display: inline-flex;
        align-items: center;
        font-family: 'Luckiest Guy';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        color: #3437ff;
      }
    }
  }

  .center-nav {
    display: flex;
  }

  .right-nav {
    display: flex;
  }
}